doctype html
html(lang="en")
    head
        title ACC Skin Manager - Admin
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap", rel="stylesheet")

        link(rel='stylesheet', href='/css/style.css')
    body
        h1 ACC Skin Manager - Admin
        form(action="/admin/whitelist", method="post")
            label(for="discord-id") Discord User ID
            input(type="text", name="discord-id", id="discord-id")
            input(type="submit", value="Add")
