doctype html
html(lang="en")
    head
        title ACC Skin Manager
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap", rel="stylesheet")

        link(rel='stylesheet', href='/css/style.css')
    body
        h1 ACC Skin Manager
        p
            a(href=discordRedirect) Login with Discord

        p We currently have #{skinCount} skins ready to download!
